{include file='public/head'}
{include file='public/header'}
<div class="container mt-3">
    <h2 id="container-title">添加小讲专题</h2>
     <form action="{:url('insert')}" method="post">
        <div class="form-group">
            <label>专题名</label>
            <input type="text" class="form-control"  name="name">
        </div>
        <div class="form-group">
            <label>简介</label>
            <input type="text" class="form-control"  name="summary">
        </div>
        <div class="form-group">
            <label>专题id</label>
            <input type="text" class="form-control"  name="specialtopicid">
        </div>
        <div class="form-group">
            <label>专家id</label>
            <input type="text" class="form-control"  name="expertid">
        </div>
        <div class="form-group">
            <label>展示的背景图片</label>
            <input type="text" class="form-control"  name="imgPath">
        </div>
        <div class="form-group">
            <label>专题banner背景</label>
            <input type="text" class="form-control"  name="bimgPath">
        </div>
        <div class="form-group">
            <label>所属分类</label>
            <input type="text" class="form-control"  name="categroies_id">
        </div>
        <div class="form-group">
            <label>专家名</label>
            <input type="text" class="form-control"  name="expert">
        </div>
        <div class="form-group">
            <label>课程数量</label>
            <input type="text" class="form-control"  name="coursenum">
        </div>
        <div class="form-group">
            <label>参加人数</label>
            <input type="text" class="form-control"  name="num">
        </div>
        <div class="form-group">
            <input type="submit" value="插入" class="btn btn-info">
        </div>
    </form>
</div>


{include file='public/footer'}