<link rel="stylesheet" type="text/css" href="__STATIC_PATH__/static/admin/public/header.css">
<script type="text/javascript" src="__STATIC_PATH__/static/library/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="__STATIC_PATH__/static/library/popper.js"></script>
<script type="text/javascript" src="__STATIC_PATH__/static/library/bootstrap/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="__STATIC_PATH__/static/admin/index/index.css?a321sd">


<div class="content-menu">
	<div class="logo">
		<i class="ion-ios-paperplane"></i>
		<span>分答后台管理&nbsp;1.0</span>
	</div>
	<div class="menu-list">
		<ul class="nav navbar-nav">
			<li class="nav-item active">
				<a data-toggle="collapse" href="#collapse-index" aria-expanded="false">
					<span class="ion-android-person"></span>用户管理<i class="ion-ios-arrow-down"></i>
					</a>
					<div class="collapse" id="collapse-index">
						<ul class="nav navbar-nav">
							<li>
								<a href="{:url('user/index')}">普通用户</a>
								<a href="{:url('classification/index')}">答主分类</a>
								<a href="{:url('expert/index')}">答主</a>
							</li>
						</ul>
				</div>
			</li>
			<li class="nav-item">
				<a data-toggle="collapse" href="#collapse-index2" aria-expanded="false">
					<span class="ion-help-circled"></span>快问管理<i class="ion-ios-arrow-down"></i>
					</a>
					<div class="collapse" id="collapse-index2">
						<ul class="nav navbar-nav">
							<li>
								<a href="{:url('kwcate/index')}">快问分类</a>
								<a href="{:url('kwproblem/index')}">快问问题</a>
								<a href="{:url('kwansweraudio/index')}">快问回答音频</a>
								<a href="{:url('kwanswertext/index')}">快问回答文本</a>
							</li>
						</ul>
				</div>
			</li>
			<li class="nav-item">
				<a data-toggle="collapse" href="#collapse-index1" aria-expanded="false">
					<span class="ion-volume-high"></span>小讲管理<i class="ion-ios-arrow-down"></i>
					</a>
					<div class="collapse" id="collapse-index1">
						<ul class="nav navbar-nav">
							<li>
								<a href="{:url('categorys/index')}">小讲分类</a>
								<a href="{:url('course/index')}">小讲课程详情</a>
								<a href="{:url('specialtopic/index')}">小讲专题详情</a>
								<a href="{:url('single/index')}">讲单标题</a>
								<a href="{:url('audio/index')}">讲单音频</a>
							</li>
						</ul>
				</div>
			</li>
        </ul>
	</div>
</div>
<div class="content container-fluid" id="container-fluid">
	<div class="top-menu">
		<div class="menu-left">
			<i class="ion-navicon-round"></i>
			<!-- <ol>
				<li>首页<span class="ion-chevron-right"></span></li>
				<li>添加用户<span class="ion-chevron-right"></span></li>
				<li>修改轮播图</li>
			</ol> -->
		</div>
		<div class="menu-right">
			<div class="dropdown">
			  <a class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			    冰冰酱
			  </a>
			  <div class="cover"></div>
			  <div class="dropdown-menu animated fadeInDown">
			    <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1507320611262&di=d2011ed93917ec4b0e9e06bb03ef25ed&imgtype=0&src=http%3A%2F%2Fwww.qqpk.cn%2FArticle%2FUploadFiles%2F201112%2F20111208140318990.jpg">
			    <div class="user-msg">
			    	<div>冰冰酱</div>
			    	<a  href="{:url('/admin/index/logout')}"><button class="btn btn-info logout">退出</button></a>
			    </div>
			  </div>
			</div>

		</div>
	</div>	


<script>
	//头像弹出
    $(".dropdown-toggle").on("click",function(){
        $(".dropdown-menu").toggle();
    })
</script>