<link rel="stylesheet" type="text/css" href="__STATIC_PATH__/static/admin/public/header.css">
<div class="content-menu">
	<div class="logo">
		<i class="ion-ios-paperplane"></i>
		<span>分答后台管理&nbsp;1.0</span>
	</div>
	<div class="menu-list">
		<ul class="nav navbar-nav">
			<li class="nav-item active">
				<a data-toggle="collapse" href="#collapse-index" aria-expanded="false">
					<span class="ion-home"></span>首页管理<i class="ion-ios-arrow-down"></i>
					</a>
					<div class="collapse" id="collapse-index">
						<ul class="nav navbar-nav">
							<li>
								<a href="">首页轮播图</a>
								<a href="">首页轮播图</a>
								<a href="">首页轮播图</a>
								<a href="">首页轮播图</a>
								<a href="">首页轮播图</a>
							</li>
						</ul>
				</div>
			</li>
			<li class="nav-item">
				<a data-toggle="collapse" href="#collapse-index1" aria-expanded="false">
					<span class="ion-gear-b"></span>系统设置<i class="ion-ios-arrow-down"></i>
					</a>
					<div class="collapse" id="collapse-index1">
						<ul class="nav navbar-nav">
							<li>
								<a href="">首页轮播图</a>
							</li>
						</ul>
				</div>
			</li>
        </ul>
	</div>
</div>
<div class="content container-fluit">
	<div class="top-menu">
		<div class="menu-left">
			<i class="ion-navicon-round"></i>
			<!-- <ol>
				<li>首页<span class="ion-chevron-right"></span></li>
				<li>添加用户<span class="ion-chevron-right"></span></li>
				<li>修改轮播图</li>
			</ol> -->
		</div>
		<div class="menu-right">
			<div class="dropdown">
			  <a class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			    冰冰酱
			  </a>
			  <div class="cover"></div>
			  <div class="dropdown-menu animated fadeInDown">
			    <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1507320611262&di=d2011ed93917ec4b0e9e06bb03ef25ed&imgtype=0&src=http%3A%2F%2Fwww.qqpk.cn%2FArticle%2FUploadFiles%2F201112%2F20111208140318990.jpg">
			    <div class="user-msg">
			    	<div>冰冰酱</div>
			    	<button class="btn btn-info logout">退出</button>
			    </div>
			  </div>
			</div>

		</div>
	</div>	