html{
	width: 100%;
	height: 100%;
}
body{
	height: 100%;
	width: 100%;
	background: blue;
	background: -webkit-radial-gradient(#85d0f1, #4396c0); /* Safari 5.1 - 6.0 */
	 background: -o-radial-gradient(#85d0f1, #4396c0); /* Opera 11.6 - 12.0 */
	background: -moz-radial-gradient(#85d0f1, #4396c0); /* Firefox 3.6 - 15 */
	background: radial-gradient(#85d0f1, #4396c0); /* 标准的语法 */
}
.login{
	position:absolute;
    top:50%;
    left: 50%;
    width: 400px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
	border-radius: 5px;
	box-shadow: 0 0 5px 0 #ccc;
	background: #fff;
}
form{
	padding: 0 20px 20px;
}
.form-head{
	height: 50px;
	line-height: 50px;
	color: #fff;
	padding-left: 20px;
	background: #0153e2;
	border-radius: 5px 5px 0 0;
	margin-bottom: 10px;
}
.form-text{
	display: none;
}
.form-text.invalid-feedback{
	visibility: visible;
}