{include file='public/head'}
<link rel="stylesheet" type="text/css" href="__STATIC_PATH__/static/admin/login/index.css">
<div class="login">
	<div class="form-head">分答后台登录</div>
	<form>
		<div class="form-group">
		    <label for="exampleInputEmail1">用户名</label>
		    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="请输入账号">
		    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
		</div>
		<div class="form-group">
			<label for="exampleInputPassword1">密码</label>
			<input type="password" class="form-control" id="exampleInputPassword1" placeholder="请输入密码">
			<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
		</div>
		<button type="submit" class="btn btn-primary">登录</button>
	</form>
</div>
</body>
</html>